$primary: #562425;
$secondary: #89A894;
$light-teal: #ABD1B5;
$mint-cream: #EDF4ED;
$peach: #FCB97D;

$mint-cream-light: #f0f6f0;

$mint-cream-dark: #a5aaa5;

:export {
    primary: $primary;
    secondary: $secondary;
    lightTeal: $light-teal;
    mintCream: $mint-cream;
    peach: $peach;
}

html {
    overflow-x: hidden;
}

a { 
    text-decoration: none;
    color: $peach;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#NavBar {
    width: 100%;
    position: fixed;
    z-index: 3;

    .AppBar {
        min-height: 7vh;
        display: flex;
        flex-direction: row;

        .tabs {
            flex-grow: 3;
        }

        .loginButton {
            flex-grow: 1;
        }
    }
}

#AppBody {
    position: relative;
    min-height: 100vh;
    background-color: $mint-cream;

    #OutcomeSection {
        position: absolute;
        transform: translateX(81vw);
        min-height: 93vh;
        width: 80vw;
        left: 20vw;
        top: 7vh;
        box-shadow: 0px 0px 4px grey;
        background-color: rgb(228, 228, 228);
        animation: slide-from-right 500ms cubic-bezier(.87,1.04,.72,.93);
        animation-fill-mode: forwards;

        #QueryOutcome {
            background-color: white;
            width: 90%;
            min-height: 1000px;
            margin: 5%;
            box-shadow: 1px 1px 4px grey;

            .cafePreviewHolder {
                display: flex;
                flex-direction: column;
                align-items: center;

                &>div:first-child {
                    width: 100%;
                    position: relative;
                    background-color: grey;
                    width: 100%;
                    height: 400px;
                }
                
                .flexRowParent {
                    width: 100%;
                    margin-top: 20px;
                    display: flex;
                    justify-content: space-around;
                    flex-direction: row;

                    .cafePreviewListHolder {
                        width: 45%;

                        .cafePreviewList {
                            color: grey;
                            padding: 20px 10px;
                            margin: 10px 0px;

                            &:nth-child(odd) {
                                background-color: $mint-cream;
                            }

                            .cafePreview {
                                display: flex;
                                padding: 15px 7px;
                                flex-direction: row;
                                justify-items: space-between;
                                align-items: center;
                                color: $mint-cream-light;
                                background-color: $mint-cream-dark;
                                margin: 15px 0px;
                                box-shadow: 2px 2px 3px grey;
                                cursor: pointer;

                                &:hover {
                                    box-shadow: 1px 1px 2px grey;
                                    background-color: inherit;
                                }

                                h1 {
                                    text-align: center;
                                    min-width: 15%;
                                }

                                p {
                                    margin: 4px 0px;
                                }

                                div {
                                    width: 40%;
                                    height: 100%;
                                    display: inline-block;
                                }

                                .cafeInformation {
                                    p {
                                        margin: 5px 0px;
                                    }
                                    b {
                                        font-size: 1.1em;
                                    }
                                }

                                .cafePreviewButtons {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-between;

                                    button {
                                        margin: 5px;
                                        background-color: $mint-cream-dark;
                                    }
                                }
                            }
                        }
                    }

                    .cafeDetailsWrapper {
                        width: 45%;
                        height: 100%;
                        position: sticky;
                        min-height: 400px;
                        
                        box-shadow: 2px 2px 3px grey;
                        top: 10vh;
                        margin-bottom: 15px;

                        .cafeDetails {
                            overflow-y: scroll;
                            width: 100%;
                            height: 87vh;

                            h5 {
                                color: grey;
                            }

                            .carouselImage {
                                width: 100%;
                                height: 300px;
                                background-position: center;
                                background-size: cover;
                                background-color: white;
                                box-shadow: inset 2px 2px 3px grey;
                            }

                            .cafeInformation {

                                strong {
                                    font-size: .9em;
                                }
                                ul {
                                    list-style: none;
                                }
                                a {
                                    text-decoration: none;
                                    color: #7463ef;
                                    display: block;
                                    margin: 6px 0px;
                                }

                                .infoSection {
                                    display: flex;
                                    flex-direction: row;
                                    margin: 15px 2px 10px;
                                    align-items: flex-end;

                                    h2, h5, p, ul, a {
                                        margin: 10px 2px;
                                    }

                                    div {
                                        display: inline-block;

                                        ul {
                                            padding: 0px;

                                            li {
                                                display: flex;
                                                flex-direction: row;
                                                justify-content: space-between;
                                                align-items: flex-end;

                                                span {
                                                    vertical-align: text-bottom;

                                                    &:last-child {
                                                        font-size: .85em;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    div:first-child {
                                        flex-basis: 65%;
                                    }
                                    div:last-child {
                                        flex-basis: 28%;
                                        margin-left: 10px;
                                    }
                                }
                                .infoSection.contactSection {
                                    align-items: flex-start;
                                }
                            }

                            .cafeReviews {
                                border-radius: 5px;
                                box-shadow: 2px 1px 5px grey;
                                margin: 8px 8px 20px;
                                position: relative;

                                h2 {
                                    margin: 20px 15px;
                                    display: inline-block;
                                }

                                .highlightBar {
                                    position: absolute;
                                    background-color: #eee;
                                    width: 40px;
                                    height: 100%;
                                    z-index: -1;
                                    right: 30px;
                                }

                                .review {
                                    margin: 25px 10px;
                                    display: inline-block;
                                    

                                    .reviewContent {
                                        margin: 10px;

                                        .starRating {
                                            float: left;
                                            margin: 5px 10px;
                                            font-weight: bold;

                                            span {
                                                color: grey;
                                                font-size: 2em;
                                            }

                                            i {
                                                color: rgb(201, 179, 59);
                                            }
                                        }

                                        p {
                                            margin-bottom: 2px;
                                        }
                                    }

                                    .reviewDetails {
                                        display: flex;
                                        flex-direction: row;
                                        justify-content: flex-end;

                                        p {
                                            margin: 5px 2px;
                                            margin-right: 8px;
                                            font-style: italic;
                                        }
                                    }
                                }
                            }
                            &:after {
                                content:'';
                                position: absolute;
                                bottom: 0;
                                right: 17px;
                                height: 20px;
                                width: 100%;
                                background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(255,255,255,0.8) 38%, rgba(255,255,255,1) 100%);
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }

    .viewingPane {
        transform: translateX(-20vw);
        width: 20vw;
        max-height: 93vh;
        position: fixed;
        top: 7vh;
        background-color: white;
        z-index: 2;
        box-shadow: 2px 2px 4px grey;
        left: 0px;

        .selectionsHolder {
            position: relative;
            display: flex;
            min-width: 10vw;
            float: right;
            height: 93vh;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            #cancelButton {
                position: absolute;
                max-height: 30px;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                z-index: 2;
            }

            .viewBox {
                display: flex;
                flex: 1;
                flex-direction: column;
                justify-content: flex-end;
                width: 20vw;
                min-height: 50%;
                color: white;
                position: relative;
                overflow-wrap: normal;

                img {
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                    background-position: center;
                    position: absolute;
                    z-index: -1;
                }

                h2 {
                    margin: 10px 15px;
                    font-weight: bold;
                    font-size: 2em;
                }
                h4 {
                    margin: 5px 15px 30px;
                    font-size: 1em;
                }
            }
        }

        &.paneMounted {
            transform: translateX(-10vw);
            transition: transform 400ms linear;
        }

        &.paneMounted.paneActive {
            transform: translateX(0vw);
            transition: transform 400ms linear;
        }
    }

    #exploreView {
        width: 100%;
        height: 93vh;
        position: absolute;
        top: 7vh;
        background-image: radial-gradient(circle, #031d47, #02132c, #010a18);
    }

    #inputsSection {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        min-height: 80vh;
    
        .margin50 {
            margin: 50px 0px;
        }
    
        .inputSection {
            width: 500px;
        }
    
        .userInput {
            display: flex;
            flex-direction: column;
    
            .messageSection {
                min-height: 20vh;
                margin-top: 30px;
                position: relative;
    
                .messages {
                    position: absolute;
                    bottom: 0;
                    animation: fadeout 2s;
                }
            }
    
            .responseCardHolder {
                padding: 0px 10px;
                position: relative;
                min-height: 200px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;
    
                .glow {
                    animation: glow 1000ms ease-out infinite alternate;
                }
    
                i.fas.fa-lock {
                    position: absolute;
                    top: 6px;
                    left: 6px;
                    color: $primary;
                }
    
                .hoverOverlay {
                    opacity: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
    
                .hoverOverlay:hover {
                    opacity: 1;
                    background-color: rgba(0,0,0,0.7);
                    color: white;
                    cursor: pointer;
                }
            }
        }
    }
}


.fade-appear, .fade-enter {
    opacity: 0;
}
.fade-appear.fade-appear-active, .fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 800ms linear;
}

.fade-exit {
    opacity: 1;
}
.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 800ms linear;
}
.fade-exit-done {
    opacity: 0;
}


// Animations!

@keyframes glow {
    0% {
		border-color: rgb(77, 37, 14);
		box-shadow: 0 0 5px rgba(77, 37, 14, 0.2), inset 0 0 5px rgba(77, 37, 14, .1), 0 2px 0 #000;
    }	
    100% {
		border-color: rgb(77, 37, 14);
		box-shadow: 0 0 20px rgba(77, 37, 14, 0.6), inset 0 0 10px rgba(77, 37, 14, .4), 0 2px 0 #000;
    }
}


@keyframes slide-from-right {
    78% {
        transform: translateX(0vw);
    }
    86% {
        transform: translateX(2vw);
    }
    93% {
        transform: translateX(0vw);
    }
    97% {
        transform: translateX(1vw);
    }
    100% {
        transform: translateX(0vw);
    }
  }